* {
    margin : 0;
    padding : 0;
}

html, body {
    height : 100%;
}

body {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.teams {
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.team_header {
    color: forestgreen;
    margin: 10px 0;
    font-size: 36px;
    font-family: "Roboto Slab", Serif;
    font-weight: 300;
}

.input {
    margin: 5px 0;
    padding-left: 5px;
    display: inline-flex;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 45px;
    width: 260px;
    font-size: 16px;
    text-align: center;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.input:focus {
    outline: 0;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.input:-webkit-autofill {
    color: #2a2a2a !important;
}

.colorpicker {
    margin: 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.color {
    width: 25px;
    height: 25px;
    margin: 0 5px;
}

.compositions {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.choosing {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#selected_team {
    font-size: 12px;
    font-family: "Roboto", SansSerif;
    color: darkslategrey;
}

#crystal {
    margin-right: 10px;
    width: 20px;
    height: 12px;
    transform: skew(-35deg);
}

.selection {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

.composition {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.class {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

img {
    margin: 0 5px;
    width: 30px;
    height: 30px;
}

.number {
    display: flex;
    align-items: center;
    margin: 0 5px;
    font-size: 14px;
    font-family: "Roboto Slab";
}

.submit {
    margin: 5px 0;
    border: none;
    border-radius: 3px;
    background-color: crimson;
    padding: 10px 16px;
    font-size: 16px;
    color: white;
    font-family: "Roboto Slab", SaSerif;
}

.assign {
    position: absolute;
    display: flex;
    flex-direction: column;
}