* {
    margin : 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: khaki;
}

/* Section */

section {
    width: 60%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gameboard {
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

canvas {
    position: absolute;
    z-index: 1;
}

.tools {
    position: relative;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.class {
    position: relative;
    height: 42px;
    width: 42px;
    margin: 3px 0;
    border-radius: 21px;
}

[class-specific = "warrior"] {
    background: url("../assets/warrior.png") no-repeat center;
    background-size: 70%;
}

[class-specific = "warrior"]:hover {
    background-color: darkred;
}

[class-specific = "archer"] {
    left: 20px;
    background: url("../assets/archer.png") no-repeat center;
    background-size: 80%;
}

[class-specific = "archer"]:hover {
    background-color: forestgreen;
}

[class-specific = "mage"] {
    background: url("../assets/mage.png") no-repeat center;
    background-size: 80%;
}

[class-specific = "mage"]:hover {
    background-color: mediumslateblue;
}

[class-specific = "fireball"] {
    background: url("../assets/fireball.png") no-repeat center;
    background-size: cover;
    opacity: 0.7;
}

[class-specific = "fireball"]:hover {
    opacity: 1.0;
}

[class-specific = "heal"] {
    left: 20px;
    background: url("../assets/heal.png") no-repeat center;
    background-size: cover;
    opacity: 0.7;
}

[class-specific = "heal"]:hover {
    opacity: 1.0;
}

[class-specific = "armageddon"] {
    background: url("../assets/armageddon.png") no-repeat center;
    background-size: cover;
    opacity: 0.7;
}

[class-specific = "armageddon"]:hover {
    opacity: 1.0;
}

.rewind {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: coral;
}