* {
    margin : 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Section */

section {
    width: 60%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gameboard {
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

canvas {
    position: absolute;
    z-index: 1;
}

.tools {
    position: relative;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.class {
    position: relative;
    height: 42px;
    width: 42px;
    margin: 3px 0;
    border-radius: 21px;
}

[class-specific = "warrior"] {
    background: url("../assets/warrior.png") no-repeat center;
    background-size: 70%;
}

[class-specific = "warrior"]:hover {
    background-color: darkred;
}

[class-specific = "archer"] {
    left: 20px;
    background: url("../assets/archer.png") no-repeat center;
    background-size: 80%;
}

[class-specific = "archer"]:hover {
    background-color: forestgreen;
}

[class-specific = "mage"] {
    background: url("../assets/mage.png") no-repeat center;
    background-size: 80%;
}

[class-specific = "mage"]:hover {
    background-color: mediumslateblue;
}

[class-specific = "fireball"] {
    background: url("../assets/fireball.png") no-repeat center;
    background-size: cover;
    opacity: 0.7;
}

[class-specific = "fireball"]:hover {
    opacity: 1.0;
}

[class-specific = "heal"] {
    left: 20px;
    background: url("../assets/heal.png") no-repeat center;
    background-size: cover;
    opacity: 0.7;
}

[class-specific = "heal"]:hover {
    opacity: 1.0;
}

[class-specific = "armageddon"] {
    background: url("../assets/armageddon.png") no-repeat center;
    background-size: cover;
    opacity: 0.7;
}

[class-specific = "armageddon"]:hover {
    opacity: 1.0;
}

.rewind {
    height: 20px;
    width: 100%;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow-x: hidden;
}

.checkpoint_interval {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
}

.checkpoint {
    position: absolute;
    width: 14px;
    height: 28px;
    border-radius: 4px;
    opacity: 0.9;
}

.checkpoint:hover {
    opacity: 1;
}

.message {
    transform: translate(0, -150%);
    position: absolute;
    font-size: 13px;
    font-family: "Roboto", SansSerif;
    font-weight: 300;
}

.action {
    position: absolute;
    z-index: 1;
    font-size: 16px;
    font-family: "Roboto Slab", SansSerif;
    font-weight: 800;
}


/* Popup Implementation */
.popup {
    z-index: 2;
    position: absolute;
    visibility: hidden;
    width: 300px;
    height: 200px;
    background-color: white;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: rotateY(-60deg);
    transform-style: preserve-3d;
}

.toggle {
    visibility: visible;
    transition: all 0.5s ease-in-out;
    transform: rotateY(0deg);
    animation-fill-mode: forwards;
}

.fade {
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

.popup_header {
    margin: 10px 0;
    font-family: "Roboto Slab", Serif;
    color: coral;
    font-weight: 900;
}

.popup_paragraph {
    font-family: "Roboto", SansSerif;
    margin : 10px 30px;
}

.popup_submit {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -150%);
}

.popup_action {
    margin: 15px 5px;
    border: 1px solid lightgray;
    background-color: coral;
    color: white;
    border-radius: 3px;
    font-size: 18px;
    width: 120px;
    height: 40px;
}

.popup_note {
    font-size: 10px;
    font-family: Roboto, SansSerif;
}